body{
    background-color:rgb(0, 0, 0);
    color:white;
}

header {
    border-bottom: solid 2px rgb(199, 21, 133);
    padding: 20px;
    font-size: 32px;
    color: rgb(199, 21, 133);
}

.chamada {
   background: rgb(0, 0, 0);
   padding-bottom: 80px;
   padding-top: 80px;
   display: block;
   justify-content: center;

}

.chamada-texto {
   margin-right: 5%;

}


h1 {
   font-size: 40px;

}


p {
    font-size: 20px;

}

.categoria-videos {
   display: flex;
   overflow-x: auto;
   gap: 10px;
}


.categoria {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 50px;

}

.categoria-videos img {
  opacity: 1.0;
  height: 150px;
  justify-content: center;

}


.categoria-videos img:hover {
  opacity: 1.0;
  border: 3px solid green;

}


categoria h2 {
  color: rgb(199, 21, 133);

}